<% provide(:title, "Users") %>
<h1>Users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <div class="text-left col-xs-3">
        <%= user.name + " " + user.last_name %>
      </div>
      <div class="text-center col-xs-6">
        <%= user.email %>
      </div>
      <div class="text-right col-xs-3">
        <%= link_to "Delete", delete_user_path(user.id), :remote => true, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger text-white" %>
      </div>
    </li>
  <% end %>
</ul>
