// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-link:hover {
	color: inherit;
}

.h-title { // centra vertical y separa divs o lo que sea en espacios justificados
  display: flex;
  align-items: center;
  justify-content: space-between;
}
